[common]
wifi_channel = 165   # default channel for 5.8 GHz

log_file = None           # Set to "wifibroadcast.log" to disable log to stdout

link_id = "default"       # It will be hashed and mapped to three bytes of MAC
                          # You can use different link ids for multi-vehicle setup without stream remapping.
                          # For that case need to have several instances of wifibroadcast.cfg on GS - one for each link (GS <-> droneX)
                          # Redefine peer addresses, tunnel interfaces and tunnel addresses to not overlap
                          # Copy and rename wifibroadcast@.gs service and set path to custom wfb config.
mavlink_agg_timeout = 0.1


###############################
### DRONE PART
###############################

[drone_video]
bandwidth = 20     # bandwidth 20 or 40 MHz
short_gi = False   # use short GI or not
stbc = 1           # stbc streams: 1, 2, 3 or 0 if unused
ldpc = 1           # 8812au only
mcs_index = 1      # mcs index


[drone_mavlink]
bandwidth = 20     # bandwidth 20 or 40 MHz
short_gi = False   # use short GI or not
stbc = 1           # stbc streams: 1, 2, 3 or 0 if unused
ldpc = 1           # 8812au only
mcs_index = 1      # mcs index
stats_port = 8001  # used by wfb-cli
peer = 'listen://0.0.0.0:14550'

# Uncoment if you need to forward mavlink stream
# peer = 'serial:/dev/ttyAMA'
#peer = 'serial:/dev/ttyS0:1500000' # Serial port for autopilot
 

[drone_tunnel]
bandwidth = 20     # bandwidth 20 or 40 MHz
short_gi = False   # use short GI or not
stbc = 1           # stbc streams: 1, 2, 3 or 0 if unused
ldpc = 1
mcs_index = 1      # mcs index
stats_port = 8003  # used by wfb-cli


###############################
### GS PART
###############################

[gs_video]
# gs video is RX only, so you doesn't need to specify ldpc, stbc, gi and mcs_index
bandwidth = 20     # bandwidth 20 or 40 MHz
stats_port = 8002  # used by wfb-cli
peer = 'connect://127.0.0.1:5600'  # outgoing connection for RTP video sink (RTSP server, local video pipeline or QGC), use 224.0.0.1 for multicast streaming

[gs_mavlink]
bandwidth = 20     # bandwidth 20 or 40 MHz
short_gi = False   # use short GI or not
stbc = 1           # stbc streams: 1, 2, 3 or 0 if unused
ldpc = 1
mcs_index = 1      # mcs index
stats_port = 8001  # used by wfb-cli

# Uncomment and set QGroundControl address
#peer = 'connect://192.168.1.1:14550'

# OSD
mirror = 'connect://127.0.0.1:14551'

[gs_tunnel]
bandwidth = 20     # bandwidth 20 or 40 MHz
short_gi = False   # use short GI or not
stbc = 1           # stbc streams: 1, 2, 3 or 0 if unused
ldpc = 1
mcs_index = 1      # mcs index
stats_port = 8003  # used by wfb-cli
